<h1>Pirate Stats</h1>
<h3><%= @pirate.name %><h3>
<h3><%= @pirate.height %><h3>
<h3><%= @pirate.weight %><h3>

<h2>Ship One</h2>
<h3><%= @ships[0].name %><h3>
<h3><%= @ships[0].type %><h3>
<h3><%= @ships[0].booty %><h3>

<h2>Ship Two</h2>
<h3><%= @ships[1].name %><h3>
<h3><%= @ships[1].type %><h3>
<h3><%= @ships[1].booty %><h3>