<h1>Pirate Stats</h1>
<%= @pirate.name %>
<%= @pirate.height %>
<%= @pirate.weight %>

<h2>Ship One</h2>
<%= @ships[0].name %>
<%= @ships[0].type %>
<%= @ships[0].booty %>

<h2>Ship Two</h2>
<%= @ships[1].name %>
<%= @ships[1].type %>
<%= @ships[1].booty %>